

.status-text {
    bottom: 10px;
}

.status-text-main {
    bottom: 35px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

#display-weather {
    width: 100%;
}

#main {
    width: 100%;
    margin: 0;
    padding: 0;
}
